@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
	width: 100%;
	height: 100%;
	margin: 0;
    font-family: 'Montserrat', sans-serif;
	background-color: #36465d;
	color: white;
}

/* Navbar */
.flex-container {
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	position: fixed;
	background-color: #626683;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	font-weight: bold;
}

.flex-container :nth-child(1) {
	order: -1;  
	width: 10%; 
	font-size: 20px;
	background: white;
	border: transparent;
}
.flex-container :nth-child(2) {	
	order: 0; 
	height: auto;
	width: auto;
}
.flex-container :nth-child(3) {	
	order: 1;
	width: 10%; 
	font-size: 20px;
	text-align: center;
	background: white;
	border: transparent;
}

/* Show Navbar button  */
#button_wrapper {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
}

#show_header {
	position: absolute;
	top: 10px;
	width: 20px;
	height: 40px;
}
/*  */

/* Content */
#content {
	padding-top: 60px;
	height: 100%;
	width: 100%;
}

#newcontent {
	height: 100%;
	width: 100%;
}
/*  */

/* Story buttons */
#menu {
	width: 100%;
	background-color: #36465d;
}

.menu {
	display: flex;
	flex-flow: column;
}

.menu button {
	width: 100%;
	height: 30px;
	border-radius: 5px;
	margin: 3px;
}
/*  */

/*Nav Buttons: */
#menu-buttons {
	display: flex;
	flex-direction: row;
	padding-top: 5px;
	padding-bottom: 10px;
}

#to-front, #to-back {
	width: 15%;
}

#previous-page, #next-page {
	width: 100%;
}
/*  */